@import "tailwindcss";

:root {
  --unactive-btn: #f0f0f0;
  --unactive-btn-text: #6a6a6a;
  --active-btn-text: white;
  --active-btn: black;
}

.work-sans-custom {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

@layer base {
  * {
    box-sizing: border-box;
    color: white;
  }

  button {
    cursor: pointer;
    outline: none;
  }

  a {
    color: white;
    text-decoration: none;
  }

  body {
    font-family: "Work Sans", sans-serif;
    background-color: #2B2B2B;
  }
}


@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-center-around {
    @apply flex items-center justify-around;
  }

  .flex-center-between {
    @apply flex items-center justify-between;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

}

@utility max-w-calc {
  max-width: calc(100% - 230px);
}

@utility custom-gradient {
  background: linear-gradient(136deg, rgba(58, 176, 240, 1) 0%, rgba(179, 67, 217, 1) 100%);
}

@utility custom-transition {
  @apply transition duration-300 ease-in-out;
}



@layer components {
  .base-button {
    @apply bg-blue-500 text-white p-3 rounded-2xl custom-transition;
  }

  .gradient-button {
    @apply custom-gradient p-3 rounded-2xl custom-transition;
  }

  .base-button:hover {
    @apply opacity-80;
  }

  .footer-content::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    width: 80%;
    height: 1px;
    background: #858584;
    pointer-events: none;
    margin: 30px auto;
  }
}